{% extends "base_generic.html" %}

{% block content %}
    <style>
        .container {
            display: grid;
            place-items: center;
            height: 100vh;
        }
        embed {
            width: 80%; 
            height: 500px;
            margin-bottom: 10px;
        }
        p {
            place-items: 10;
            
        }
    </style>

    {% if video %}
    <div class="container">
        <embed src="http://localhost:9000/djangob/{{video.video_file}}" width="auto" height="auto" class="video-page">
        <h1>Name video: {{ video.name }}</h1>
        {% if video.description %}
        <br>{{video.description | linebreaks}}
        {% endif %}
        <p>Date publication: {{ video.date_publication }}</p>
        
        {% if request.user.is_authenticated %}
        <div>
            <form action="{% url 'video' %}?id={{video.id}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Click</button>
            </form>
        </div>
        {% endif %}
    </div>

    {% if comments %}
    <div>
        {% for comment in comments %}
        <p>{{comment.text}} by {{comment.user}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <p>Video not found..</p>
    {% endif %}
{% endblock %}
