{% extends "base_generic.html" %}

{% block content %}
    <h1>comments</h1>

    {% if comments_list %}
    <ul>

      {% for comment in comments_list %}
      <li>
        <p>{{ comment.text }} on <a href="{% url 'video'%}?id={{comment.video.id}}">{{ comment.video.name }}</a></p>
      </li>
      <form method="post" action="{% url 'delete_comment' comment.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no comments for now..</p>
    {% endif %}
{% endblock %}